/* Teste CSS External */

body{
    padding-bottom: 500px;
}

h3{
    color: green;
}
/* Classe */
.Paragrafo{
    background-color: #000;
    color: yellow;
    padding: 5px;
}

/* id */
#titulo-com-id{
    background-color: green;
    color: #fff;
    padding: 10px;
    font-size: 40px;
}

/* Regra de ordem */

h3{
    border-bottom: 2px solid blue;
}

.class-titulo{
    border-bottom: 2px solid red;
}

#id-titulo{
    border-bottom: 2px solid purple;
}