/* Nome das cores */

.color-name{
    color:crimson;
}

/* Cores RGB */
.rgb-misturado{
    color: rgb(255, 0, 0)
}

.rgb-misturado{
    color: rgb(199, 21, 47)
}

/* RGBA */
.rgba{
    color: rgba(100, 99, 45, 0.3);
}

/* Hexadecimal */
.hex{
    color: #55a398
}

.hex2{
    color: #1a8c55
}

/* Hexadecimal simplificado */

.hex-simplificado{
    color: #333;
}

.hex-simplificado2{
    color: #a6e;
}

/* HSL */
.hsl{
    color: hsl(100, 20%, 50%);
}

.hsl-2{
    color: hsl(199, 44%, 5%);
}

/* Background Color */
.backgroundcolor{
    background-color: #000;
    color: gold;
}

.bg-2{
    background-color: rgb(100, 50, 33);
    color: #0fa;
}

/* Opacidade no Background Color (fundo transparente e fonte também) */
.bg-com-opacidade{
    background-color: red;
    opacity: 0.2;
}

.bg-com-opacidade-2{
    background-color: #888;
    color: black;
    opacity: 0.8;
}

/* RGBA com opacidade (fundo transparente e fonte não) */
.rgba-opacidade{
    background-color: rgba(90, 100, 40, 0.2);
    color: #000;
}
