body {
    padding-bottom: 550px;
}

/* flexbox */
.flexbox {
    display: flex;
    background-color: blue;
    color: white;
    margin-bottom: 30px;
}

/* Flex Direction */
.flex-direction {
    display: flex;
    flex-direction: column;
    background-color: #bbb;
}

/* Flex Wrap */
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.caixa {
    height: 50px;
    width: 22%;
    border: 2px solid salmon;
}

/* Flex Justify-Content */
.center,
.space-around,
.space-between,
.end {
    display: flex;
    margin-bottom: 30px;
}

.center .caixa,
.space-around .caixa,
.space-between .caixa,
.end .caixa {
    width: 60px;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}

/* Align-Items */
.align-center,
.flex-end,
.strech {
    display: flex;
    height: 200px;
    margin-bottom: 30px;
    border: 3px solid black;
}

.align-center .caixa,
.flex-end .caixa,
.strech .caixa {
    width: 60px;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.flex-end {
    align-items: flex-end;
}

.strech {
    align-items: stretch;
}

.strech .caixa {
    height: auto;
}
